body {
  font-family: Arial, Helvetica, sans-serif;
  background: #27292c;
  color: white;
  /* Center the React card on the screen */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  margin-top: 20px;
}

.div-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 4px 4px rgba(0, 0, 0, 0.2);
  min-width: 300px;
  max-width: 500px;
  min-height: 500px;
  border-radius: 10px;
}

/* React Card Component divs */
.div-header {
background-color: #21222a;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
width: 100%;
}

.div-MainContent {
  padding: 20px;
  margin: auto;
}

.div-Footer {
  padding-bottom: 20px;
  padding-top: 10px;
  margin: auto;
}


/* Header */
.nav-logo{
  width: 55px
}

.header-component {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-right: 150px;

}

.nav-list {
  list-style: none;
  display: flex;
  translate: 150px;
}

.nav-list li {
padding: 10px;
font-size: 1.1rem;
}