body {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background: #27292c;
  color: white;
}

h1 {
  margin-top: 30px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  min-width: 300px;
  max-width: 500px;
  padding: 20px;
  border-radius: 10px; /* Adds nice rounded corners */
}

.vertical-centered {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  margin: auto;
}

