body {
  font-family: Arial, Helvetica, sans-serif;
  background: #27292c;
  color: white;
  /* Center the React card on the screen */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
